.Slide {
  $bp-large: 900px;
  $bp-medium: 600px;
  height: 836px;
  // position: relative;
  // &:after {
  //   content: "";
  //   background-size: cover;
  //   background-color: rgba(0, 0, 0, 0.27);
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  // }
  @media screen and (max-width: $bp-large) {
    height: auto;
  }
  p {
    font-size: 1.62671rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
    padding: 15px 0;
  }
  &-wrapper {
    color: #fff;
    text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: right;
    padding: 50px;
    text-align: right;
    @media screen and (max-width: $bp-medium) {
      padding: 50px 10px;
    }
    &.left-align {
      justify-content: left;
      text-align: left;
    }
    &.flex {
      align-items: center;
      display: flex;
      @media screen and (max-width: $bp-large) {
        flex-direction: column-reverse;
      }
    }
  }
  &-imageWrapper {
    width: 40%;
  }
  &-textWrapper {
    margin-top: 50px;
    width: 60vw;
    &.director-slide {
      @media screen and (max-width: $bp-medium) {
        p {
          font-size: 23px;
        }
      }
    }
    &.contact-slide {
      @media screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }

    &.w-large {
      width: 50vw;
      @media screen and (max-width: $bp-large) {
        width: 100%;
      }
    }
    &.w-medium {
      width: 30vw;
      @media screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }
    &.w-small {
      width: 25vw;
      @media screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }
    &.lr-padding {
      padding: 0 20px;
      @media screen and (max-width: $bp-medium) {
        padding: 0 5px;
      }
    }
  }
  &-title {
    text-transform: uppercase;
  }
  &-directorsContact {
    margin-bottom: 30px;
    p {
      padding: 0;
      @media screen and (max-width: $bp-medium) {
        font-size: 25px;
      }
    }
    a {
      color: white;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
  &-producersContact {
    p {
      padding: 0;
      @media screen and (max-width: $bp-medium) {
        font-size: 25px;
      }
    }
    a {
      color: white;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
  .uppercase {
    text-transform: uppercase;
  }
}
